* {
    text-align: center;
}
h1{
    background-color:antiquewhite;
    color:teal;
}


button {
    color:cornflowerblue;
    background-color:khaki;
    font-family:'cursive';
}


h2{
    color:rgb(65, 225, 177);
  
}

p{
    color:blanchedalmond;
    font-family: 'Times New Roman';
}

h3{
    font-weight: 330;
    font-size: 15px;
      
    
}

body {
    background-color:rgb(151, 108, 204);
}
a {
    text-decoration: none;
}
